<div class="git-search">
  <form class="form-inline ml-auto">
    <div class="searchbar">
      <input class="search_input" type="text" name="search" [(ngModel)]="search" placeholder="Search...">
      <button href="#" (click)="onSearch(search)" class="search_icon"><i class="fas fa-search"></i></button>
    </div>
  </form>
</div>



<!-- success panel -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">UserName: {{user.login}}</h3>
  </div>
  <div class="panel-body">
    <img src="{{user.avatar_url}}" alt="">

    <p><a href="https://github.com/{{user.login}}" target="_window">GitHub Link: </a></p>
  </div>
  <div class="panel-footer">
    User Name: {{user.name}}
  </div>
</div>
